.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding: 2% 10%;
}

.input-field {
    width: 60%;
    margin-top: 16px;
}

.word-divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.word-divider span {
     background:#fff;
     padding:0 10px;
 }