.dragable-container {
    height: fit-content;
    width: fit-content;
}

.dashboard-container {
    position: relative;
    display: flex;
    flex: 1;
    padding-top: 10px;
    background-color: green;
}