.dragable-container {
    height: fit-content;
    width: fit-content;
}

.dashboard-container {
    position: relative;
    display: flex;
    padding: 10px;
    height: 100%;
}

.empty-conatiner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}