.content-container {
    border: 1 solid;
    width: 450px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 5%;
    height: 100%;
}